extends layout

block content
  
  .d-flex.align-items-center.justify-content-center.min-vh-100
    .text-center
      if user
        h1= title
      else
        br
        h1= title

        p Find the perfect outdoor activities in County Kerry based on real-time weather.
        | Choose your location, select your favorite activities, and let us help you enjoy the outdoors, no matter the weather!
        br
        | For the best experience, please: 
        br
        a.btn.btn-primary(href='/register') Register
        | or 
        a.btn.btn-secondary(href='/login') Login